<h1>Editing Book</h1>
<%= flash[:alert] %>
<%= form_with model:@book, url:"/books/#{@book.id}", local:true do |f| %>
<h4>Title</h4>
<%= f.text_field :title %>
<h4>Body</h4>
<%= f.text_area :body %>
<h4><%= f.submit 'Update Book' %></h4>
<% end %>
<%= link_to "Show",book_path(@book.id) %>
<%= link_to "Back",books_path %>